Package: lmc
Version: 1.1.52
Architecture: i386
Maintainer: Dilip Radhakrishnan <dilipvradhakrishnan@gmail.com>
Installed-Size: 19276
Section: web
Priority: optional
Depends: libaudio2
Homepage: http://www.lanmsngr.sourceforge.net/
Description: LAN Messenger is an instant messaging application for communication over a local network. It does not require a server.
