# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
build/
moc_predefs.h

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

e2e-artifacts/

/openssl
/lmc/debug
/lmc/release*
/lmc/setup/lmc*.exe
/lmc/setup/lmc*.zip
/lmcapp/lib
