* {
font-family: Arial, Helvetica, Tahoma, Verdana, Sans-serif;
}
body {
  margin: 4px;
}
div#content {
  font: 12px Arial;
}
div#insert {
  display: none;
}

/* System messages */
div.system {
  padding-top: 4px;
}
div.system div.msg {
  margin: 0px 0px 0px 0px;
}
div.system div.1st {
  padding-top: 4px;
}
div.system div.Nth {
  padding-top: 4px;
}
div.system span.salutation {
  color: rgb(119,119,119);
  font-weight: normal;
  display: block;
  margin: 0px 0px 1px 24px;
  font-size: 9pt;
}
div.system .icon {
  float: left;
  margin: 0px 3px 0px 0px;
}

/* Two ways to do icons with these rules:
   <img class='icon' src='%userIconPath%'>
   <div class='icon'><div style='height:1px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="%userIconPath%")'></div></div>
*/

/* Borders */
div.t-o {
  position: float;
  background-color: #ffffff;
}
div.b-o {
  background-color: #ffffff;
}
div.tn-o {
  position: float;
  background-color: #224f79;
}
div.bn-o {
  background-color: #577fa5;
}
div.t-i {
  background-color: #ffffff;
}
div.b-i {
  background-color: #ffffff;
}
div.tn-i {
  background-color: #224f79;
}
div.bn-i {
  background-color: #577fa5;
}
div.b1 {
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 5px;
  background-color: #888888;
}
div.b2 {
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 3px;
  border-left: 2px solid #888888;
  border-right: 2px solid #888888;
}
div.b3 {
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 2px;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
}
div.b4 {
  height: 2px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 1px;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
}

/* Chat messages */
div.chat {
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  padding: 0px 5px;
}
div.chat .icon {
/*background-color: white;
  border: 1px solid white;*/
}
div.chat div.msg {
  margin: 0px 0px 0px 0px;
}
div.chat div.Nth {
  margin: 5px 0px 0px 0px;
}
div.chat span.salutation {
  font-weight: bold;
  display: block;
  
  margin: 0px 0px 0px 0px;
}

div.outname {
font-family: 04b_19;
font-size: 25 px;
text-align: left;
color: #fafafa;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType='0',startColorStr='#224f79',endColorStr='#577fa5');
  zoom:1;
  background: -moz-linear-gradient(top,  #224f79,  #577fa5);
  background: -webkit-gradient(linear, left top, left bottom, from(#224f79), to(#577fa5));
}

div.inname {
font-family: 04b_19;
font-size: 25 px;
text-align: left;
color: #fafafa;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType='0',startColorStr='#224f79',endColorStr='#577fa5');
  zoom:1;
    background: -moz-linear-gradient(top,  #224f79,  #577fa5);
  background: -webkit-gradient(linear, left top, left bottom, from(#224f79), to(#577fa5));
}

div.out {
  text-align: left;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType='0',startColorStr='#ffffff',endColorStr='#ffffff');
  zoom:1;
    background: -moz-linear-gradient(top,  #ffffff,  #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
}

div.out .icon {
  float: left;
  margin: 0px 5px 0px 0px;
  width:32px;
  height:32px;
}

div.in {
  text-align: left;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType='0',startColorStr='#ffffff',endColorStr='#eeeeee');
  zoom:1;
  background: -moz-linear-gradient(top,  #ffffff,  #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
}
div.in .icon {
  float: left;
  margin: 0px 5px 0px 0px;
  width:32px;
  height:32px;
}

/* Broadcast messages */
div.public {
  padding: 4px 2px;
  margin: 2px 0px 4px 0px;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}
div.public div.msg {
  margin: 0px 0px 0px 0px;
  font-size: 9pt;
}
div.public span.salutation {
  padding-top: 4px;
  width: 100%;
  display:block;
}
div.public .icon {
  padding:4px;
  float: left;
  margin: 0px 3px 0px 0px;
}

/* Request messages */
div.request {
  padding: 4px 2px;
  font-size: 9pt;
}
div.request span.salutation {
  color: #606060;
  font-weight: normal;
  display: block;
  margin: 0px 0px 1px 24px;
}
div.request span.details {
  color: #0000FF;
  display: block;
  margin: 0px 0px 1px 24px;
}
div.request span.links {
  display: block;
  margin: 0px 0px 1px 24px;
}  
div.request .icon {
  float: left;
  margin: 0px 3px 0px 0px;
}

span.time {
  color: rgb(119,119,119);
  font-weight: normal;
  margin: 0px;
}

div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

div.break {
  height: 1px;
  margin: 3px 0px 0px 0px;
  overflow: hidden;
}

div.innertable {
  font: 12px Arial;
}

.displaypics{
border: 1px solid #888888;
margin: 4px;
width:32px;
  height:32px;
}