* {
font-family: Arial, Helvetica, Tahoma, Verdana, Sans-serif;
font-size: 9pt;
}
/* Ensure that our assumptions about the default browser colors are correct. */
body { color: #000000; background-color: #FFFFFF; }
body a:link { color: #0000FF; }
body a:hover { color: #0000FF; }
body a:active { color: #0000FF; }
body a:visited { color: #800080; }

body {
  margin: 4px;
}
div#content {
  font: 12px Arial;
}
div#insert {
  display: none;
}

/* System messages */
div.system {
  padding: 2px 5px;
  background: #EAEAFF;
}
div.system div.msg {
  margin: 0px 0px 0px 0px;
}
div.system div.1st {
  margin: 4px 0px 4px 0px;
}
div.system div.Nth {
  margin: 4px 0px 4px 0px;
}
div.system span.salutation {
  font-weight: normal;
  display: block;
  margin: 0px 0px 1px 24px;
}
div.system .icon {
  float: left;
  margin: 0px 5px 0px 0px;
}

/* Two ways to do icons with these rules:
   <img class='icon' src='%userIconPath%'>
   <div class='icon'><div style='height:1px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="%userIconPath%")'></div></div>
*/

/* Borders */
div.t-o {
  background-color: #FFFEEB;
}
div.b-o {
  background-color: #F1F3CB;
}
div.t-br {
  background-color: #edffea;
}
div.b-br {
  background-color: #d3f4cc;
}
div.b1 {
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 5px;
  background-color: #938F5A;
}
div.b2 {
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 3px;
  border-left: 2px solid #938F5A;
  border-right: 2px solid #938F5A;
}
div.b3 {
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 2px;
  border-left: 1px solid #938F5A;
  border-right: 1px solid #938F5A;
}
div.b4 {
  height: 2px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 1px;
  border-left: 1px solid #938F5A;
  border-right: 1px solid #938F5A;
}

/* Chat messages */
div.chat {
  border-left: 1px solid #938F5A;
  border-right: 1px solid #938F5A;
  padding: 0px 5px;
}
div.chat .icon {
/*background-color: white;
  border: 1px solid white;*/
}
div.chat div.msg {
  margin: 0px 0px 0px 0px;
}
div.chat div.Nth {
  margin: 5px 0px 0px 0px;
}
div.chat span.salutation {
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #CDCDCD;
  margin: 0px 0px 1px 40px;
}

div.out {
  text-align: left;
  background: #F2F4CC;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType='0',startColorStr='#FFFEEA',endColorStr='#F2F4CC');
  zoom:1;
  background: -moz-linear-gradient(top,  #FFFEEA,  #F2F4CC);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFEEA), to(#F2F4CC));
}

div.out .icon {
  float: left;
  margin: 0px 5px 0px 0px;
  width:32px;
  height:32px;
}

div.in {
  text-align: left;
}
div.in .icon {
  float: left;
  margin: 0px 5px 0px 0px;
  width:32px;
  height:32px;
}

/* Broadcast messages */
div.public {
  border-left: 1px solid #938F5A;
  border-right: 1px solid #938F5A;
  padding: 0px 5px;
  background: #d3f4cc;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType='0',startColorStr='#edffea',endColorStr='#d3f4cc');
  zoom:1;
  background: -moz-linear-gradient(top,  #edffea,  #d3f4cc);
  background: -webkit-gradient(linear, left top, left bottom, from(#edffea), to(#d3f4cc));
}
div.public div.msg {
  margin: 0px 0px 0px 0px;
  font-size: 9pt;
}
div.public span.salutation {
  font-weight: normal;
  display: block;
  border-bottom: 1px solid #CDCDCD;
  margin: 0px 0px 4px 24px;
}
div.public .icon {
  float: left;
  margin: 0px 5px 0px 0px;
}

/* File messages */
div.request {
  padding: 0px 5px;
}
div.request span.salutation {
  color: #606060;
  font-weight: normal;
  display: block;
  margin: 0px 0px 1px 24px;
}
div.request span.details {
  color: #0000FF;
  display: block;
  margin: 0px 0px 1px 24px;
}
div.request span.links {
  color: #606060;
  display: block;
  margin: 0px 0px 1px 24px;
}  
div.request .icon {
  float: left;
  margin: 0px 5px 0px 0px;
}

span.time {
  color: rgb(119,119,119);
  font-weight: normal;
  margin: 0px;
}

/* Helper styles */
div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

div.break {
  height: 1px;
  margin: 3px 0px 0px 0px;
  overflow: hidden;
}
