* {
font-family: Arial, Helvetica, Tahoma, Verdana, Sans-serif;
font-size: 8.25pt;
}
body {
  margin: 4px;
}
div#content {
  font: 12px Arial;
}
div#insert {
  display: none;
}

/* System messages */
div.system {
  padding: 2px 5px;
  background: #EAEAFF;
}
div.system div.msg {
  margin: 0px 0px 0px 0px;
}
div.system div.1st {
  margin: 4px 0px 4px 0px;
}
div.system div.Nth {
  margin: 4px 0px 4px 0px;
}
div.system span.salutation {
  font-weight: normal;
  display: block;
  margin: 0px 0px 1px 24px;
}
div.system .icon {
  float: left;
  margin: 0px 5px 0px 0px;
}

/* Borders */
div.t-i {
background-color:#000000;
}
div.b-i {
background-color:#005500;
}
div.t-o {
background-color:#000000;
}
div.b-o {
background-color:#000055;
}
div.b1 {
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 5px;
  background-color:#ff0000;
}
div.b2 {
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 3px;
  border-left: 2px solid #ff0000;
  border-right: 2px solid #ff0000;
}
div.b3 {
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 2px;
  border-left: 1px solid #ff0000;
  border-right: 1px solid #ff0000;
}
div.b4 {
  height: 2px;
  font-size: 1px;
  overflow: hidden;
  margin: 0px 1px;
  border-left: 1px solid #ff0000;
  border-right: 1px solid #ff0000;
}

/* Chat messages */
div.chat {
  border-left: 1px solid #ff0000;
  border-right: 1px solid #ff0000;
  padding: 0px 5px;
}
div.chat .icon {
}
div.chat div.msg {
  margin: 0px 0px 0px 0px;
}
div.chat div.Nth {
  margin: 5px 0px 0px 0px;
}
div.chat span.salutation {
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #CDCDCD;
  margin: 0px 0px 1px 40px;
}
div.out {
  text-align: left;
  background: #000055;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType='0',startColorStr='#000000',endColorStr='#000055');
  zoom:1;
  background: -moz-linear-gradient(top,  #000,  #000055);
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000055));
  color: #ffffff;
}
div.out .icon {
  float: left;
  margin: 0px 5px 0px 0px;
  width:32px;
  height:32px;
}
div.in {
  text-align: left;
  background: #005500;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType='0',startColorStr='#000000',endColorStr='#005500');
  zoom:1;
  background: -moz-linear-gradient(top,  #000,  #005500);
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#005500));
  color: #ffffff;
}
div.in .icon {
  float: left;
  margin: 0px 5px 0px 0px;
  width:32px;
  height:32px;
}

/* Broadcast messages */
div.public {
  border-left: 1px solid #ff0000;
  border-right: 1px solid #ff0000;
  padding: 0px 5px;
  background: #005500;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType='0',startColorStr='#000000',endColorStr='#005500');
  zoom:1;
  background: -moz-linear-gradient(top,  #000,  #005500);
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#005500));
  color: #ffffff;
}
div.public div.msg {
  margin: 0px 0px 0px 0px;
  font-size: 9pt;
}
div.public span.salutation {
  font-weight: normal;
  display: block;
  border-bottom: 1px solid #CDCDCD;
  margin: 0px 0px 4px 24px;
}
div.public .icon {
  float: left;
  margin: 0px 5px 0px 0px;
}

/* File messages */
div.request {
  padding: 0px 5px;
}
div.request span.salutation {
  color: #606060;
  font-weight: normal;
  display: block;
  margin: 0px 0px 1px 24px;
}
div.request span.details {
  color: #0000FF;
  display: block;
  margin: 0px 0px 1px 24px;
}
div.request span.links {
  display: block;
  margin: 0px 0px 1px 24px;
}  
div.request .icon {
  float: left;
  margin: 0px 5px 0px 0px;
}

/* Helper styles */
span.time {
  color: #CCC;
}
div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}
div.break {
  height: 1px;
  margin: 3px 0px 0px 0px;
  overflow: hidden;
}
