* {
font-family: Arial, Helvetica, Tahoma, Verdana, Sans-serif;
font-size: 9pt;
}
/* Ensure that our assumptions about the default browser colors are correct. */
BODY { color: #000000; background-color: #FFFFFF; }
BODY a:link { color: #0000FF; }
BODY a:hover { color: #0000FF; }
BODY a:active { color: #0000FF; }
BODY a:visited { color: #800080; }

BODY {
  margin: 4px;
}
DIV#content {
  font: 12px Arial;
}
DIV#insert {
  display: none;
}

/* System messages */
DIV.system DIV.msg {
  margin: 0px 0px 0px 0px;
}
DIV.system DIV.1st {
  margin: 4px 0px 4px 0px;
}
DIV.system DIV.Nth {
  margin: 4px 0px 4px 0px;
}
DIV.system SPAN.salutation {
  color: #777777;
  font-weight: normal;
  display: block;
  margin: 0px 0px 1px 24px;
}
DIV.system .icon {
  float: left;
  margin: 0px 3px 0px 0px;
}

/* Two ways to do icons with these rules:
   <img class='icon' src='%userIconPath%'>
   <div class='icon'><div style='height:1px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="%userIconPath%")'></div></div>
*/

DIV.chat .icon {
/*border: 1px solid #938F5A;
  padding: 2px;*/
}
DIV.chat DIV.msg {
  margin: 0px 0px 0px 0px;
}
DIV.chat DIV.Nth {
  margin: 5px 0px 0px 0px;
}
DIV.chat SPAN.salutation {
  font-weight: bold;
  display: block;
  margin: 0px 0px 1px 0px;
}

DIV.out {
  text-align: left;
}
DIV.out .icon {
  float: left;
  margin: 0px 5px 0px 2px;
  width:32px;
  height:32px;
}

DIV.in {
  text-align: right;
}
DIV.in .icon {
  float: right;
  margin: 0px 2px 0px 5px;
  width:32px;
  height:32px;
}

/* Broadcast messages */
DIV.public {
  padding: 4px 2px;
}
DIV.public DIV.msg {
  text-align: right;
  margin: 0px 0px 0px 0px;
  font-size: 9pt;
}
DIV.public SPAN.salutation {
  display: block;
  margin: 0px 0px 1px 0px;
}
DIV.public .icon {
  float: right;
  margin: 0px 2px 0px 5px;
}

/* File messages */
DIV.request {
  padding: 4px 2px;
}
DIV.request SPAN.salutation {
  color: #606060;
  font-weight: normal;
  display: block;
  margin: 0px 0px 1px 24px;
}
DIV.request SPAN.details {
  color: #0000FF;
  display: block;
  margin: 0px 0px 1px 24px;
}
DIV.request SPAN.links {
  display: block;
  margin: 0px 0px 1px 24px;
}  
DIV.request .icon {
  float: left;
  margin: 0px 3px 0px 0px;
}

SPAN.time {
  color: #777777;
  font-weight: normal;
  margin: 0px;
}
DIV.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

DIV.break {
  height: 1px;
  margin: 7px 0px 8px 0px;
  background-color: #DCDCDC;
  overflow: hidden;
}
