[Desktop Entry]
Categories=Qt;Network;InstantMessaging;
Comment[en_US]=Send and receive instant messages.
Comment=Send and receive instant messages.
Encoding=UTF-8
Exec=lmc
GenericName[en_US]=Instant Messenger
GenericName=Instant Messenger
Icon=lmc
MimeType=
Name[en_US]=LAN Messenger
Name=LAN Messenger
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
