#include <windows.h>

IDI_MAIN_ICON   ICON    DISCARDABLE "lmc.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION	1,2,3,5
PRODUCTVERSION	1,2,3,5
FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
FILEFLAGS	VER_DEBUG
#else
FILEFLAGS	0x0L
#endif
FILEOS          VOS__WINDOWS32
FILETYPE	VFT_APP
FILESUBTYPE     0x0L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "Comments",         "\0"
            VALUE "CompanyName",      "LAN Messenger\0"
            VALUE "FileDescription",  "LAN Messenger\0"
            VALUE "FileVersion",      "1.2.35\0"
            VALUE "InternalName",     "lanmsngr\0"
            VALUE "LegalCopyright",   "Copyright © 2010-2012 Qualia Digital Solutions.\0"
            VALUE "OriginalFilename", "lmc.exe\0"
            VALUE "ProductName",      "LAN Messenger\0"
            VALUE "ProductVersion",   "1.2.35\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}
